@keyframes image-pop{
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes video-pop{
    0% {
        transform: scaleX(0);
        transform: scaleY(0);
    }
    1% {
        transform: scaleY(.01);
    }
    15% {
        transform: scaleX(.5);
    }
    30% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes carousel-animation {
    0% {
        opacity: .4;
        transform: scale(.8);
    }
    95% {
        opacity: .4;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}