//$colour-primary: #4b2309;
$colour-secondary: rgb(211,188,190);
$colour-accent: #4b2309;
$colour-white: #fff;

$colour-borders: rgba(255, 255, 255, 0.401);
$colour-backgrounds: rgba(0, 0, 0, 0.204);

$image-pop-duration: 700ms;
$image-pop-delay: 350ms;
$video-pop-duration: 1.5s;
$video-pop-delay: 350ms;

$background-secondary: url(https://portfolio-trebor.s3.eu-west-3.amazonaws.com/thumbnail_v960_ning_05_7721266831_0546de1899.jpg?width=5000&height=3334);
$background-tertiary: url(https://portfolio-trebor.s3.eu-west-3.amazonaws.com/thumbnail_purple_pink_watercolor_texture_background_12848d7cf3_0f8dc89abe.jpg?width=3000&height=2000);
$background-primary: url(https://portfolio-trebor.s3.eu-west-3.amazonaws.com/thumbnail_5409828_f5ac8eb639_17aa049e70.jpg?width=3000&height=2000);

$breakpoints: (
    "mobile": "700px",
    "tablet": "1017px"
)