//$colour-primary: #4b2309;
$colour-secondary: rgb(211,188,190);
$colour-accent: #4b2309;
$colour-white: #fff;

$colour-borders: rgba(255, 255, 255, 0.401);
$colour-backgrounds: rgba(0, 0, 0, 0.204);

$image-pop-duration: 700ms;
$image-pop-delay: 350ms;
$video-pop-duration: 1.5s;
$video-pop-delay: 350ms;

$background-secondary: url(http://localhost:1337/uploads/v960_ning_05_7721266831.jpg?updated_at=2022-06-06T13:26:23.255Z);
$background-tertiary: url(http://localhost:1337/uploads/purple_pink_watercolor_texture_background_12848d7cf3.jpg?updated_at=2022-06-06T13:26:47.477Z);
$background-primary: url(http://localhost:1337/uploads/5409828_f5ac8eb639.jpg?updated_at=2022-06-08T14:17:33.559Z);

$breakpoints: (
    "mobile": "700px",
    "tablet": "1017px"
)