.checkout {
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 100px;
    &__message {
        position: absolute;
        top: 300px;
        text-transform: none;
    }/* 
    &__redirecting {
        position: absolute;
    }
    &__link {
        position: absolute;
        top: 900px;
    } */
}