.store {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: auto;
    min-height: 900px;
    @include tablet-only {
        display: block;
    }
    &__cart-box {
        width: 25%;
        min-width: 300px;
        max-width: 500px;
        @include tablet-only {
            width: 100%;
            height: 100%;
            min-width: none;
            max-width: none;
        }
    }
    &__items-list-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.items-list {
    @include tablet-only {
        display: flex;
        justify-content: center;
    }
}