.store {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: auto;
    min-height: 900px;
    &__cart-box {
        width: 25%;
        min-width: 300px;
        max-width: 500px;
    }
    &__items-list-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}