.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: aliceblue;
}

.ntw-div-foot {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ntw-foot {
    height: 40px;
    width: auto;
    margin: 3px;
}