.dot {
    height: 8px;
    width: 8px;
    background-color: $colour-accent;
    border: $colour-borders solid 1px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    bottom: 11px;
    right: 5px;
    &--cart {
        height: 8px;
        width: 8px;
        background-color: $colour-accent;
        border: $colour-borders solid 1px;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        bottom: 18px;
        right: 3px;
    }
    &--hidden {
        display: none;
    }
  }