.networks {
    list-style: none;
    padding-left: 60px;
    align-items: center;
    display: flex;
    &__logo {
        margin-right: 30px;
        height: auto;
        &:hover {
            opacity: 0.6;
        }
    }
}