.networks {
    list-style: none;
    padding-left: 60px;
    align-items: center;
    display: flex;
    transition: all 900ms;
    @include tablet-only {
        padding-left: 30px;
    }
    transition: padding 900ms;
    &__logo {
        margin-right: 30px;
        height: auto;
        @include tablet-only {
            margin-right: 20px;
        }
        &:hover {
            opacity: 0.6;
        }
    }
}