.shop-item {
    width: 250px;
    height: 380px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
    &__cover{
        width: 100%;
        min-width: 80px;
        border-radius: 15px;
        justify-self: flex-start;
    }
    &__name{
        margin-top: 3px;
        font-size: 2rem;
        font-weight: 500;
    }
    &__price{
        &--unavailable{
            text-decoration: line-through;
            color: rgb(255, 76, 76);
        }
    }
    &__buttons{
        display: flex;
        justify-content: center;
        flex-direction: row;
        @include buttons-cart;
        &--amount{
            width: 40px;
            text-align: center;
            font-size: 2rem;
        }
        &:disabled{
            &:hover{
                background-color: inherit;
                cursor:auto;
            }
        }
    }
}