.banner {
    display: flex;
    justify-content: space-between;
    height: 80px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    transition: all 400ms ease-in;
    @include tablet-only {
        height: 50px;
    }
    @include mobile-only {
        padding-left: 5px;
        padding-right: 5px;
    }
    &.sticky {
        background-color: $colour-secondary;
        opacity: 1;
        z-index: 3;
    }
    &__networks {
        display: flex;
        width: 32%;
        @include mobile-only {
            display: none;
        }
    }
    &__logo {
        max-height: 80px;
        @include tablet-only {
            max-height: 50px;
        }
        @include tablet-only {
            max-height: 40px;
            padding-top: 3px;
        }
    }
    &__nav {
        width: 35%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-right: 100px 8%;
        @include mobile-only {
            width: 70%;
        }
    }
}