.banner {
    display: flex;
    justify-content: space-between;
    height: 80px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    transition: background-color 400ms ease-in;
    &.sticky {
        background-color: $colour-secondary;
        opacity: 1;
        z-index: 3;
    }
    &__networks {
        display: flex;
        width: 33%;
    }
    &__logo {
        max-height: 80px; 
    }
    &__nav {
    //    position: relative;
        width: 33%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-right: 40px;
    }
}