.music-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-bottom: 50px;
    &__cover{
        width: 50%;
        box-shadow: 2px 2px 4px;
        animation: image-pop $image-pop-duration $image-pop-delay both;
    }
    &__infos{
        width: 50%;
        margin-left: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & button {
            font-size: 1.5rem;
        }
        &--title{
            text-align: center;
            width: 100%;
            font-size: 3rem;
            margin-bottom: 5%;
        }
    }
}