.nav {
    &__link{
        &:hover::after {
            width: 100%;
        }
        &::after {
            bottom: 0;
            top: 0;
            content: "";
            display: block;
            height: 2px;
            position: relative;
            background: $colour-accent;
            // Gradient underline:
            /* background-color: #FFDEE9;
            background-image: linear-gradient(270deg, #FFDEE9 0%, #B5FFFC 100%); */
            transition: width 300ms ease-in-out;
            width: 0;
        }
        &--active{
            border-bottom: $colour-accent solid 3px;
        }
    }
}