.nav {
    &__link{
        margin-right: 4px;
        &:hover::after {
            width: 100%;
        }
        &::after {
            bottom: 0;
            top: 0;
            content: "";
            display: block;
            height: 2px;
            position: relative;
            background: $colour-accent;
            transition: width 300ms ease-in-out;
            width: 0;
        }
        &--active{
            border-bottom: $colour-accent solid 3px;
        }
    }
}