.preview-shop {
    background-image: $background-secondary;
    background-size: cover;
    @include home-paddings;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__title {
        @include home-title;
    }
    &__view-all{
        height: 50px;
        @include home-view-all;
        & h2 {
            &:hover::after {
                width: 100%;
            }
            &::after {
                content: "";
                display: block;
                height: 2px;
                background: $colour-accent;
                transition: width 300ms ease-in-out;
                width: 0;
            }
        }
    }
    &__content {
        background-color: rgba(0, 0, 0, 0.204);
        margin: 30px;
        width: 90%;
        max-width: 1400px;
        padding-top: 30px;
        padding-bottom: 30px;
        border: solid 1px $colour-borders;
        border-radius: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        &--cover {
            background-color: $colour-backgrounds;
            border-radius: 50px;
            margin: 5px;
            max-height: 550px;
            animation: image-pop  $image-pop-duration $image-pop-delay*1.5 both;
        }
        &--productbox {
            height: 50%;
        }
        &--notdisplayed {
            display: flex;
            justify-content: center;
            position: relative;
            bottom: 300px;
            transition: opacity 300ms ease-in-out;
            opacity: 0;
            
        }
        &--displayed {
            display: flex;
            justify-content: center;
            position: relative;
            bottom: 300px;
            transition: opacity 300ms ease-in-out;
        }
    }
}