.preview-shop {
    background-image: $background-secondary;
    background-size: cover;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__title {
        position: relative;
        right: 600px;
    }
    &__view-all{
        height: 50px;
        position: relative;
        left: 580px;
        &:hover {
        border-bottom: #26110399 solid 1.5px;
        }
    }
    &__content {
        background-color: rgba(0, 0, 0, 0.204);
        margin: 30px;
        width: 90%;
        max-width: 1400px;
        height: 650px;
        padding-top: 30px;
        padding-bottom: 30px;
        border: solid 1px $colour-borders;
        border-radius: 50px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        &--cover {
            background-color: $colour-backgrounds;
            //border: $colour-borders solid 1px;
            border-radius: 50px;
            margin: 5px;
            max-height: 550px;
            //&:hover {
            //    opacity: 0.5;
            //}
        }
        &--productbox {
            height: 550px;
        }
        &--notdisplayed {
            display: none;
        }
        &--displayed {
            display: flex;
            justify-content: center;
            position: relative;
            bottom: 300px;
        }
    }
}