.preview-videos {
    @include home-paddings;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: $background-tertiary;
    background-size: cover;
    &__title {
        @include home-title;
        @include mobile-only {
            right: 0;
        }
    }
    &__view-all{
        height: 50px;
        @include home-view-all;
        @include mobile-only {
            left: 0;
        }
        & h2 {
            &:hover::after {
                width: 100%;
            }
            &::after {
                content: "";
                display: block;
                height: 2px;
                background: $colour-accent;
                transition: width 300ms ease-in-out;
                width: 0;
            }
        }
    }
    &__carousel{
        margin: 30px;
    }
    &__videos{
        z-index: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        &--current{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            order: 2;
            animation: carousel-animation 200ms ease-in-out both;
            @include mobile-only {
                display: none;
            }
            & > video {
            width: 100%;
            }
        }&--prev{
            display: flex;
            justify-content: center;
            order: 1;
            @include mobile-only {
                display: none;
            }
            & > video {
            width: 80%;
            }
        }&--next{
            display: flex;
            justify-content: center;
            order: 3;
            & > video {
            width: 80%;
            }
        }
    }
    &__button{
        background-color: $colour-backgrounds;
        border: $colour-borders solid 1px;
        box-shadow: 1px 1px 2px;
        margin-top: 15px;
        padding-top: 10px;
        width: 100%;
        border-radius: 15px;
        padding-left: 12%;
        padding-right: 12%;
        display: flex;
        justify-content: space-between;
        &--prev{
            width: 50px;
            opacity: 0.8;
            &:hover {
                opacity: 1;
                cursor: pointer;
            }
        }
        &--next{
            width: 50px;
            opacity: 0.8;
            &:hover {
                opacity: 1;
                cursor: pointer;
            }
        }
        &--mute{
            height: 50px;
            background-color: rgba(255, 255, 255, 0);
            opacity: 0.6;
            box-shadow: none;

        }
    }
}