.subscribe {
    background: #120801;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    &__title{
        color: #FFF;
        font-weight: 800;
        @include mobile-only {
            font-size: 3rem;
        }
    }
    &__form {
        border: white solid 1.5px;
        border-radius: 20px;
        width: 90%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    & .valid {
        color: green;
    }
    & .unvalid {
        color: red;
    }
}