.video-item {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
        margin-top: 10px;
    }
    &__video {
        max-width: 600px;
        width: 100%;
        border-radius: 30px;
        animation: video-pop $video-pop-duration $video-pop-delay both;
    }
    &__button {
        background: rgba(0,0,0,0);
        box-shadow: none;
        color: rgba(250,250,250,0.8);
        font-size: 5rem;
        position: relative;
        bottom: 383px;
        padding-left: 25px;
        &:hover {
            background-color: $colour-backgrounds;
            color: rgba(250,250,250,0.5);
        }
    }
}