.banner {
    display: flex;
    justify-content: space-between;
    height: 80px;
 //   background-color: #ad811b2e;
    &__networks {
        display: flex;
        width: 33%;
    }
    &__logo {
        max-height: 80px; 
    }
    &__nav {
        width: 33%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-right: 40px;
    }
}